.notice グループが作成されました
.contents
  .sidebar
    .sidebar__top
      %h1 若林真也
      %ul.lists
        %li.list
          =link_to do
            %i.fa.fa-pencil-square-o
        %li.list
          =link_to do
            %i.fa.fa-cog
    .sidebar__bottom
      %ul.sidebar__bottom__groups__name
        test
      %li.sidebar__bottom__groups__text
        こんにちは
      = render partial: "group"
  .chatbar
    .chatbar__top
      .chatbar__top__left
        .chatbar__top__left__name
          test
        .chatbar__top__left__member
          Member : 若林真也
      .chatbar__top__right
        %button
          Edit
    .chatbar__main
      %ul.chatbar__main__messages
        %li.chatbar__main__message
          %p.chatbar__main__message__name
            若林真也
          %p.chatbar__main__message__datetime
            2019/04/28 10:51:44
          %p.chatbar__main__message__text
            こんにちは
          = render partial: "message"
    .chatbar__bottom
      %input{type: "text" , placeholder: "type a message" , class: "chatbar__bottom__textfield"}
        %i.fa.fa-picture-o
        %input{type: "submit" , value: "send" , class: "chatbar__bottom__send"}
